
.forms{
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }

@media (max-width: 600px) {
    input[type="date"] {
      width: 19em;
    }
  
    .forms {
      width: 16em;
    }
  
    .css-1s7lm89>:not(style) {
      width: 20.5em!important;
    }
  
    .container-form {
      width: auto;
    }

    label {
        width: 20em;
    }
  }