.input-file{
  color: transparent;
  width: 16em;
}

.css-1m72p6i-MuiPaper-root-MuiDialog-paper {
  width: 80em!important;
  max-width: 80em!important;
}

input[type="date"] {
  width: 100%;
  height: 4em;
  border: 1px solid rgba(0, 0, 0, 0.23);
  border-radius: 4px;
}

.forms{
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.form-profesor {
  width: 93em;
}

.container-form {
  width: 50%;
}

@media (max-width: 600px) {
  input[type="date"] {
    width: 19em;
  }

  .forms {
    width: 16em;
  }

  .css-1s7lm89>:not(style) {
    width: 20.5em!important;
  }

  .container-form {
    width: auto;
  }
}